@import url('//fonts.googleapis.com/css?family=Varela+Round');

#home {
  display:inline-flex;
  padding: 10% 0%;
}

#home_col1 {
  padding: 10% 5%;
  margin-left: -20%;
}

#carousel {
  padding: 0% 5%;
  width: 100%;
  transform: translate(20%,-100%);
}

#home_header {
    font-family:'Varela Round';
    font-size:3vw;
    color: #2549c0 !important;
    text-align:center;
    background-color: rgb(180, 246, 255);
    border-radius: 10%;
    padding:5%;

}

#home_info {
    font-size:1vw;
    text-align:center;
}

#home-submit-button {
  font-size:100%
}

#button {
  --text-base: 277deg, 55%, 40%;
  --text-hover: 307deg, 72%, 86%;
  --shadow-start: 52deg, 100%, 72%;
  --shadow-end: 282deg, 90%, 50%;
  --shadow-inner: 277deg, 90%, 62%;
  all: unset;
  color: hsla(var(--text-base), 1);
  font: 700 1.125rem/1.2 Raleway, sans-serif;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  padding: 0.85em;
  max-width: 100%;
  width: 12em;
  background: inherit;
  background-clip: padding-box;
  border: 5px solid hsla(var(--text-base), 1);
  border-radius: 2em;
  cursor: pointer;
  position: relative;
  transition: 0.25s ease-out;
}

#button::before, button::after {
  content: "";
  border-radius: inherit;
  transition: inherit;
  position: absolute;
  inset: 0;
  pointer-events: none;
}

#button::before {
  inset: -0.2em;
  z-index: -1;
  background: linear-gradient(hsla(var(--shadow-start), 1), hsla(var(--shadow-end), 1));
  filter: blur(1.2em) saturate(1.2);
  transform-origin: bottom;
  transform: scaleY(0.5);
  opacity: 0;
}

#button::after {
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 4px rgba(255, 255, 255, 0.7), 1px 1px 0 4px #fff;
  mix-blend-mode: overlay;
  opacity: 0;
}

#button:hover, button:focus {
  color: hsla(var(--text-hover), 1);
  border-color: transparent;
  box-shadow: inset 0 1.4em 0 hsla(var(--shadow-inner), 0.1), inset 0 0 1.4em hsla(var(--shadow-inner), 0.32), 0 1px 1px hsla(var(--shadow-inner), 0.32);
}

#button:hover::before, button:hover::after, button:focus::before, button:focus::after {
  transform: none;
  opacity: 1;
}
